
/* menu */
.menu-mobile {
    display: none;
}
.icon-close {
    display: none;
}
main#main {
    margin-top: 200px !important; 
}
@media (max-width: 768px) {
    header.container-fluid {
        position: fixed;
        top: 0;
        left: 0; 
        z-index: 1050;     
    }
    .menu-mobile {
        position: absolute;
        top: 20px; 
        right: 20px; 
        display: flex;
        cursor: pointer;
        z-index: 1100;
    }
    .navbar {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s cubic-bezier(0.25, 0.8, 0.25, 1);
        display: flex;
        flex-direction: column;
        background-color: inherit;
    }
    #menu-toggle:checked ~ .navbar {
        max-height: 400px;
    }

    #menu-toggle:checked ~ .menu-mobile label .icon-menu {
        display: none;
    }

    #menu-toggle:checked ~ .menu-mobile label .icon-close {
        display: block;
    }
    .menu-mobile img {
        width: 30px;
        height: 30px;
    }

}

